
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<style>
	#author-post{
		text-align: center;
		font-size: 17px;
		font-family: 'Courier New', Courier, monospace;
		font-weight: 700;
	}
</style>
<!-- Begin Top Author Page
	
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>{{author.username|title}}</h1>
						<span class="author-description">{{author.user_bio|linebreaks}}</span>
						{% if request.user == author %}
						<a  href="{% url 'blog:edit_profile' author.id %}" class="btn follow">Edit</a>
						{% endif %}
					</div>
					<div class="col-md-2 col-xs-12">
						{% if author.avatarUrl %}
						<img class="author-thumb" src="{{author.avatarUrl}}">
						<p id="author-post">Posts {{author.blog_posts.count}}</p>
							{% else %}
									<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Author Posts
================================================== -->


<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

				<!-- begin post -->
			{% for post in author_post %}
		
				<div class="authorpostbox">
					<div class="card">
						<a href="{{post.author.get_absolute_url}}">
						<img class="img-fluid img-thumb" src="{{post.image_url}}" alt="">
						</a>
						<div class="card-block">
							<h2 class="card-title"><a href="{{post.get_absolute_url}}">{{post.title|title}}</a></h2>
              <h4 class="card-text">{{post.body|truncatewords:10|linebreaks}}</h4>
            	<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
										{% if post.author_image %}
									<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{{post.author_image}}"></a>
									{% else %}
									<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
									{% endif %}
									</span>
									<span class="author-meta">
									<span class="post-name"><a href="{{post.author.get_absolute_url}}">{{post.author}}</a></span><br/>
									<span class="post-date">{{post.publish}}</span><span class="post-read"></span>
									</span>
									<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% endfor %}
				<!-- end post -->
		</div>
	</div>
</div>

<!-- End Author Posts
================================================== -->




{% endblock content %}