{% load static %}
{% comment %} 
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "blog/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="sidebar">
<h2>My blog</h2>
<p>This is my blog. I've written {%total_posts%}</p>
<h2>Recent Posts</h2>
{% display_latest_posts 4 %}

<div>
    <h3>Most commented post</h3>
     {% get_most_commented_posts 3 as most_commented_posts %}
    <ul>
       {% for post in most_commented_posts %}
        <p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
        {% endfor %}
    </ul>
</div>
</div>
</div>
</body>
</html> {% endcomment %}




<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'img/favicon.ico'%}">
<title>{% block title %}{% endblock %}</title>
<!-- Bootstrap core CSS -->
<link href="{% static "blog/bootstrap.min.css" %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



<!-- Custom styles for this template -->
<link href="{% static "blog/doixc.css" %}" rel="stylesheet">
<style>
	#btn{
		background-color: black;
		color: #fff;
		border-radius: 15px;
	}
	#btn:hover{
		background-color: #969191;

	}
	
	@media (max-width:692px) {
		#btn{
		
			width:fit-content;
			text-align:center;
			padding:5px;
		}
	}
</style>
</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="{% url 'blog:post_list' %}">
	<img src="{% static 'img/logo.png' %}" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
				<a class="nav-link" href="{% url 'blog:new_post' %}"><i class='bx bxs-edit' style='color:#dadada'  ></i>Write</a>
			</li>
			<li class="nav-item ">
				{% if user.is_superuser %}
				<a class="nav-link" href="{% url 'blog:my_draft' %}">Drafts</a>
				{% endif %}
			</li>

			<li class="nav-item">
			<a class="nav-link" href="{% url 'blog:post_list' %}">Posts</a>
			</li>
			{% if reuest.user.is_authenticated %}
			<li class="nav-item">
			<a class="nav-link" id="btn" href="{% url 'account:login' %}">Login</a>
			</li>
			{% else %}
			<li class="nav-item">
			<a class="nav-link" id="btn"  href="{% url 'account:logout' %}">Logout</a>
			</li>
			{% endif %}
		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
		</form>
		<!-- End Search -->
	</div>
</div>
</nav>
<style>
	button{
		outline:none;
		border:none;
		background:none;
	}

</style>
<!-- End Nav -->
 {% for message in messages %}
        
        {% if message.tags == 'success' %}
        <div class="container-message pt-2">
          <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
          <strong><i class='bx bxs-check-circle' style='color:#2be410'></i> {{message}}</strong>
          <button type="button" class="btn btn-alert btn-close" data-dismiss="alert" aria-label="Close">X</button>
        </div>
      </div>
        {% elif message.tags == 'error' %}
        <div class="container-message pt-2">
          <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            <strong><i class='bx bxs-error' style='color:#e41010'></i> {{message}}</strong>
            <button type="button" class="  btn-alert btn-close " data-dismiss="alert" aria-label="Close">X</button>
          </div>
        </div>
           {% elif message.tags == 'warning' %}
        <div class="container-message pt-2">
          <div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
            <strong><i class='bx bxs-error' style='color:#e41010'></i> {{message}}</strong>
            <button type="button" class="  btn-alert btn-close" data-dismiss="alert" aria-label="Close">X</button>
          </div>
        </div>
              {% elif message.tags == 'info' %}
        <div class="container-message pt-2">
          <div class="alert alert-info text-center alert-dismissible fade show" role="alert">
            <strong><i class='bx bx-info-circle'></i>{{message}}</strong>
            <button type="button" class="  btn-alert btn-close" data-dismiss="alert" aria-label="Close">X</button>
          </div>
        </div>
        {% endif %}

        {% endfor %}
{% block content %}
    
    
    
    
    
{% endblock content %}


    
	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2023 
		</p>
		<p class="pull-right">
			 Developed by <a target="_blank" href="https://www.linkedin.com/in/hezekiah-olajide-49a008225/">Hezekiah Olajide</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/mediumish.js' %}"></script>

 <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html> 
