{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}


<style>
	#close-comment-section {
		font-weight: 700;
		float: right;
		font-size: 16px;
		cursor: pointer;
	}

	#comment-section {
		width:30%;
		max-height: 80%;
		overflow-x: auto;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		position: fixed;
		top:5em;
		right: 0;
		border-radius: 10px;
		padding: 20px;
		z-index: 1;
		cursor: pointer;


	}

	.svgIcon-use {
		cursor: pointer;
	}

	.btn {
		border-radius: 20px;
	}

	.add-comment {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		padding: 10px;
	}

	textarea {
		outline: none;
		border: none;
		padding: 10px;
		font-size: 16px;
		line-height: 1.5;
		width: 80%;
		height: 150px;
		resize: vertical;
	}

	label {
		display: none;
	}

	/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #68756f;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}

/* For Firefox */
/** scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; **/

/* For IE and Edge */
/** -ms-overflow-style: none;
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; **/


	@media (max-width:692px) {
		#comment-section {
			top: 7rem;
			width:70%;
		}
	}
</style>

<script>

	function toggleElement(id) {
		var element = document.getElementById(id)
		if (element.style.display === 'none') {
			element.style.display = 'block';
		} else {
			element.style.display = 'none'
		}
	}

	function hideCommentSection() {
		var commentSection = document.getElementById("comment-section");
		commentSection.style.display = "none";
	}
</script>
<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<!-- Begin Fixed Left Share -->
		<div class="col-md-2 col-xs-12">
			<div class="share">
				<p>
					<a href="{% url 'blog:post-share' post.id %}">Share</a>
				</p>
				
				<ul>
					<li>
					<a onclick="toggleElement('comment-section')">

				{% with comments.count as total_comments %}
					{{total_comments}} 
				{% endwith %}
					<br/>
					<svg class="svgIcon-use" width="29" height="29" viewbox="0 0 29 29"><path d="M21.27 20.058c1.89-1.826 2.754-4.17 2.754-6.674C24.024 8.21 19.67 4 14.1 4 8.53 4 4 8.21 4 13.384c0 5.175 4.53 9.385 10.1 9.385 1.007 0 2-.14 2.95-.41.285.25.592.49.918.7 1.306.87 2.716 1.31 4.19 1.31.276-.01.494-.14.6-.36a.625.625 0 0 0-.052-.65c-.61-.84-1.042-1.71-1.282-2.58a5.417 5.417 0 0 1-.154-.75zm-3.85 1.324l-.083-.28-.388.12a9.72 9.72 0 0 1-2.85.424c-4.96 0-8.99-3.706-8.99-8.262 0-4.556 4.03-8.263 8.99-8.263 4.95 0 8.77 3.71 8.77 8.27 0 2.25-.75 4.35-2.5 5.92l-.24.21v.32c0 .07 0 .19.02.37.03.29.1.6.19.92.19.7.49 1.4.89 2.08-.93-.14-1.83-.49-2.67-1.06-.34-.22-.88-.48-1.16-.74z"></path></svg>
					</a>
					</li>

				</ul>
			</div>
		</div>
		<!-- End Fixed Left Share -->


		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">

				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						{% if post.author_image %}
						<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{{post.author_image}}"></a>	
							{% else %}
									<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
						{% endif %}	
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="{{post.author.get_absolute_url}}"><strong>{{post.author|title}}</strong></a><!--<a href="#" class="btn follow">Follow</a>--><br>
						<span class="author-description">{{post.author.user_bio}}</span><br>
						<span class="post-date">{{post.created}}</span><span class="dot"></span><span class="post-read">{{read_min}}min read</span>
					</div>
				</div>
				<!-- End Top Menta -->

				<h1 class="posttitle">{{post.title|title}}</h1>

			</div>

			<!-- Begin Featured Image -->
			<img class="featured-image img-fluid" src="{{post.image_url}}" alt="">
			<!-- End Featured Image -->

			<!-- Begin Post Content -->
			<div class="article-post">
				<p>{{post.body|linebreaksbr}}</p>
			</div>
			<!-- End Post Content -->

			<!-- Begin Tags -->
			<div class="after-post-tags">
				<ul class="tags">
					{% for tag in post.tags.all %}
					<li><a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<!-- End Tags -->
			
	

	</div>
		</div>
		<!-- End Post -->

	<div id="comment-section">	
	<h2> Responses({% with comments.count as total_comments %}
	{{total_comments}}
	{% endwith %}) <a id="close-comment-section" onclick="hideCommentSection()">X</a> </h2>
	<br>
	<div class="add-comment">
		{% if request.user.avatarUrl %}
		<a href="{{request.user.get_absolute_url}}">
			<img class="author-thumb"src="{{request.user.avatarUrl}}"></a>
			{% else %}
			<a href="{{request.user.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
			{% endif %}
			{% comment %} <img class="author-thumb"
				src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a> {% endcomment %}
				<p>{{request.user|title}} </p>
		
		<br>
	<form method='post'>
		{{comment_form.as_p}}
		{%csrf_token%}
	
		<input class="btn btn-success" type='submit' value='Respond'>
	</form>

	</div>
<hr>
			{% for comment in comments %}
		<div class="comment">
			<p class='info'>
				{% if comment.commenter_image %}
				<a href="{{comment.commenter_name.get_absolute_url}}"><img class="author-thumb"
						src="{{comment.commenter_image}}"></a>
			{% else %}
					<a href="{{comment.commenter_name.get_absolute_url}}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
					{% endif %} 
				<p>{{comment.commenter_name}}</p>
				<small>{{comment.name}} {{comment.created|timesince}}</small>
			</p>
			{{comment.body|linebreaks}}
		</div>
		<hr>
		{% empty %}
		<p>There are no comment yet. </p>
		{% endfor %}
	</div>
</div>

<!-- End Article\
================================================== -->

<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
<div class="graybg">
	<div class="container">
		<div class="row listrecent listrelated">

			<!-- begin post -->
			{% for post in similar_posts %}
			<div class="col-md-4">
				<div class="card">
					<div class="card-block">
						<h2 class="card-title"><a href="{{post.get_absolute_url}}">{{post.title|title}}</a></h2>
							<div class="article-post">
								<p>{{post.body|truncatewords:10|linebreaksbr}}</p>
					</div>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
									{% if post.author_image %}
								<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{{post.author_image}}"></a>
									{% else %}
									<a href="{{post.author.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/avatar.png' %}"></a>
									{% endif %}
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="{{post.author.get_absolute_url}}">{{post.author}}</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="post-read">{{read_min}} mins</span>
								</span>
								<span class="post-read-more"><a href="" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->
			{% endfor %}
		
		</div>
	</div>
</div>
<!-- End Related Posts
================================================== -->


{% endblock content %}