{% extends 'blog/base.html' %}

{% block content %}
<style>
    .draft-section{
        position: relative;
        max-height: 85vh;
        overflow-x: auto;
        width: 35%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        left: 23em;
        top: 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

    }
    .drafts-box{
        border: 1px solid rgb(185, 180, 180);
        padding: 20px;
        border-radius: 5px;
    }

    .draft-title a{
        color: #000;
        font-size: 26px;
        text-decoration: none;
    }
.draft-text{
    color: #b1aeae;
    font-size: 16px;
}

	@media (max-width:692px){
		.draft-section {
			left: 9em;
            width: fit-content;
		}
</style>

<div class="draft-section">
    
{% for draft in drafts %}
		<div class="drafts-box">
			<div class="draft-block">
				<h2 class="draft-title"><a href="{% url 'blog:edit_draft' draft.id %}">{{draft.title|title}}</a></h2>
				<h4 class="draft-text">{{draft.body|truncatewords:10|linebreaks}}</h4>

				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href=""><img class="author-thumb" src="{{draft.author_image}}"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="">{{draft.author}}</a></span><br/>
						<span class="post-date">{{draft.publish}}</span><span class="dot"></span><span class="post-read"></span>
						</span>
						<span class="post-read-more"><a href="" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
        <br>
        {% empty %}
           <div class="container-message pt-2">
          <div class="alert alert-info text-center alert-dismissible fade show" role="alert">
            <strong><i class='bx bx-info-circle'></i>  Oops! No Draft Yet </strong>
   
          </div>
        </div>
{% endfor %}
</div>
{% endblock content %}